type: object
properties:
    env:
        anyOf:
            - type: "null"
            - type: object
              additionalProperties: { type: string }

    dependencies:
        anyOf:
            - type: "null"
            - type: array
              items: { type: string }
              uniqueItems: true

    cli: { type: ["null", "object"] }

    services:
        anyOf:
            - type: "null"
            - type: object
              propertyNames: { type: string, format: kebab-case }
              minProperties: 1
              additionalProperties:
                  anyOf:
                      - type: "null"
                      - type: object
                        properties:
                            components:
                                anyOf:
                                    - type: "null"
                                    - type: object
                                      propertyNames: { type: string, format: camel-case-strict }
                                      minProperties: 1
                                      additionalProperties: { type: [boolean, object] }

                            config: { type: object }

                        minProperties: 1
                        additionalProperties: false

    defaultService: { type: ["null", string] }

    templates:
        anyOf:
            - type: "null"
            - type: object
              propertyNames: { type: string, formap: kebab-case-relative-file-path }

    components:
        anyOf:
            - type: "null"
            - type: object
              propertyNames: { type: string, format: camel-case-strict }
              additionalProperties:
                  type: object

    config: { type: ["null", object] }

additionalProperties: false
required: []
