type: object
properties:
  env:
    anyOf:
      - type: "null"
      - type: object
        additionalProperties: { type: string }

  global: { type: boolean }

  dependencies:
    anyOf:
      - type: "null"
      - type: array
        items: { type: string, format: camel-case-strict }
        uniqueItems: true

  optionalDependencies:
    anyOf:
      - type: "null"
      - type: array
        items: { type: string, format: camel-case-strict }
        uniqueItems: true

  config:
    type: ["null", object]

additionalProperties: false
