# NOTE https://docs.docker.com/compose/compose-file/

type: object

properties:
  version: { type: [number] }
  name: { type: string }

  services:
    type: object
    propertyNames: { type: string }
    additionalProperties:
      type: object

      properties:
        image: { type: string }
        depends_on: { type: array, items: { type: string } }
        init: { type: boolean }
        stop_grace_period: { type: string }

        deploy:
          anyOf:
            - type: object
              properties:
                mode: { const: global }
              required: [mode]
              additionalProperties: false
            - type: object
              properties:
                mode: { const: replicated }
                replicas: { type: integer, minimum: 0 }
                placement:
                  type: object
                  properties:
                    max_replicas_per_node: { type: integer, minimum: 1 }
                    constraints: { type: array, items: { type: string }, minItems: 1, uniqueItems: true }
                  required: []
                  additionalProperties: false
                labels:
                  type: object
                  additionalProperties: { type: string }
              required: [replicas]
              additionalProperties: false

        healthcheck:
          type: object
          properties:
            test: { type: string }
            start_period: { type: string }
            interval: { type: string }
            timeout: { type: string }
            retries: { type: integer, minimum: 1 }

          reqyured: [test, start_period, interval, timeout, retries]
          additinalProperties: false

        environment:
          type: object
          additinalProperties: { type: string }

        command: { type: string }

        configs:
          type: array
          items:
            type: object
            properties:
              source: { type:string }
              target: { type: string }
            required: [source, target]
            sdditionalProperties: false

        secrets:
          type: array
          items:
            type: object
            properties:
              source: { type:string }
              target: { type: string }
            required: [source, target]
            sdditionalProperties: false

        networks: { type: array, items: { type: string }, minItems: 1, uniqueItems: true }

        ports:
          type: array
          items:
            type: object
            properties:
              published: { type: integer, format: ip-port }
              target: { type: integer, format: ip-port }
              protocol: { enum: [tcp, udp] }
              mode: { enum: [ingress, host] }
            required: [published, target]
            additionalProperties: false
          minItems: 1

        volumes:
          type: array
          items:
            anyOf:
              - type: object
                properties:
                  type: { const: tmpfs }
                  target: { type: string }
                  tmpfs:
                    type: object
                    properties:
                      size: { type: integer, minimum 1 }
                    required: [size]
                    additionalProperties: false
                required: [type, target, tmpfs]
                additionalProperties: false
              - type: object
                properties:
                  type: { enum: [bind, volume] }
                  source: { type: string }
                  target: { type: string }
                required: [type, source, target]
                additionalProperties: false

        build:
          anyOf:
            - type: string
            - type: object
              properties:
                context: { type: string }
                dockerfile: { type: string }
                args:
                  type: object
                  additionslProperties: { type: string }
                  minProperties: 1
              additionalProperties: false

      required: [image]
      additionalProperties: false

  configs:
    type: object
    propertyNames: { type: string }
    additionalProperties:
      anyOf:
        - type: object
          properties:
            file: { type: string }
          additionalProperties: false
          required: [file]
        - type: object
          properties:
            external: { const: true }
          additionalProperties: false
          required: [file]

  secrets:
    type: object
    propertyNames: { type: string }
    additionalProperties:
      anyOf:
        - type: object
          properties:
            file: { type: string }
          additionalProperties: false
          required: [file]
        - type: object
          properties:
            external: { const: true }
          additionalProperties: false
          required: [file]

  networks:
    type: object
    propertyNames: { type: string }
    additionalProperties:
      type: object
      properties:
        name: { enum: [host] }
        external: { type: boolean }

  volumes:
    type: object
    propertyNames: { type: string }
    additionalProperties:
      type: object
      properties:
        name: { type: string }
      required: [name]

required: [services]
additionalProperties: false
