server {
<% if ( !listenIpFamily || listenIpFamily === 4 ) { -%>
    listen               *:<%- port %> default_server;
<% } -%>
<% if ( !listenIpFamily || listenIpFamily === 6 ) { -%>
    listen               [::]:<%- port %> default_server;
<% } -%>
    server_name          "";

    location / {
        return           444;
    }

    location /check-health {
        return           200;
    }
}
